<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'TwitterClone', posts_path %></h1>
    </header>
    <nav>
      <div class="container">
          <ul class="clearfix">
              <li><%= link_to 'Top', posts_path %></li>
              <li><%= link_to 'Profile', posts_path %></li>
              <li><%= link_to 'New Post', new_post_path %></li>
              <li><%= link_to 'Study', "https://diver.diveintocode.jp/curriculums?progress=true" %></li>
          </ul>
      </div>
    </nav>
    <div class="main">
      <%= yield %>
      
      <footer>
        <p>Copyright ©︎ 2021 DIVE INC ALL RIGHTS RESERVED.</p>
      </footer>
    </div>
  </body>
</html>
